{
	"presets": [ "@babel/preset-react", "@babel/preset-env" ],
	"plugins": [
		[
			"transform-react-jsx",
			{
				"pragma": "fidan"
			}
		],
		"@babel/plugin-syntax-dynamic-import",
		[ "@babel/plugin-proposal-decorators", { "legacy": true } ],
		[ "@babel/plugin-proposal-class-properties", { "loose": true } ]
	]
}
